body {
  background-color: white;
  padding: 10px;
  margin: 15px;
}
td, th {
  font-family: Verdana;
  padding: 5px;
  text-align: center;
  height: 2em;
}
th {
  background-color: green;
  text-decoration: underline;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
}

td:nth-child(1) {
  background-color: green;
  text-decoration: underline;
 }
td:nth-child(2) {
   background-color: green;
}
tr:nth-child(7) {
   background-color: green;
}
